#python stuff
.pylintrc
__pychache__/
cashe/

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__
db.sqlite3
*.sqlite3

# Django settings
.env
.env*
!*.template

# PyCharm
.idea/

# VSCode
.vscode/

# Python virtual environments
venv/
.env/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Static files
/static/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db

# Python bytecode files
*.pyc
*.pyo
*.pyd

# Local development files
*.local