{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">


    <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "deps/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "deps/favicon/site.webmanifest" %}">


    <link rel="stylesheet" href="{% static "style.css" %}">


</head>

<body>
    <div class="wrapper">

{% comment %} Общий хедер для всех {% endcomment %}
        <header class="header {% block first_page_class %}{% endblock %}">
            <div class="container">
              <div class="header__inner">
                <a href="#" class="logo"><img src="{% static 'images/logo.png' %}" alt="" class="logo__img" width="100px" height="60px" /></a>
                <nav class="menu">
                  <button class="menu__btn">
                    <span></span>
                    <span></span>
                    <span></span>
                  </button>
                  <ul class="menu__list">
                    <li class="menu__list-item">
                      <a href="{% url 'main:index' %}" class="menu__list-link">HOME</a>
                    </li>
                    <li class="menu__list-item">
                      <a href="{% url "catalog:index" %}" class="menu__list-link">PRODUCTS</a>
                    </li>
                    <li class="menu__list-item">
                      <a href="#" class="menu__list-link">SERVICE</a>
                    </li>
                    <li class="menu__list-item">
                      <a href="{% url 'main:about' %}" class="menu__list-link">ABOUT US</a>
                    </li>
                    <li class="menu__list-item--active">
                      <a href="" class="menu__list-link">CONTACT US</a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li class="menu__list-item--active">
                      <a href="{% url "user:login" %}" class="menu__list-link">SIGN IN</a>
                    </li>
                    {% else %}
                    <li class="menu__list-item--active">
                      <a href="{% url "user:profile" %}" class="menu__list-link">PROFILE</a>
                    </li>
                    <li class="menu__list-item--active">
                      <a href="{% url "user:users_cart" %}" class="menu__list-link">CART</a>
                    </li>
                    {% comment %} {% include "carts/includes/included_cart.html" %} {% endcomment %}
                    <li class="menu__list-item--active">
                      <a href="{% url "user:logout" %}" class="menu__list-link">ENTER FOR STAFF</a>
                    </li>
                    <li class="menu__list-item--active">
                      <a href="{% url "user:logout" %}" class="menu__list-link">LOGOUT</a>
                    </li>
                    {% endif %}
                  </ul>
                </nav>
              </div>
            </div>
          </header>

{% comment %} Значек корзины, вызывает модальное окно {% endcomment %}
{% block modal_cart %}{% endblock %}
{% comment %} Закончилась разметка модального окна {% endcomment %}

{% include "includes/notifications.html" %}
{% block content %}{% endblock  %}


        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">Products</p>
                        </li>
                        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Used</a></li>
                        <li class="footer__menu-item"><a href="#" class="footer__menu-link">New</a></li>
                        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Sell your bike</a></li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">Resources</p>
                        </li>
                        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Blog</a></li>
                        <li class="footer__menu-item"><a href="#" class="footer__menu-link">FAQ</a></li>
                        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Contact us</a></li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">Work With TrueBike</p>
                        </li>
                        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Dealers</a></li>
                        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Partners</a></li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">About</p>
                        </li>
                        <li class="footer__menu-item"><a href="#" class="footer__menu-link">About us</a></li>
                        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Team</a></li>
                        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Careers</a></li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img src="{% static "images/appstore.png" %}" alt="" class="app__item-img">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img src="{% static "images/googleplay.png" %}" alt="" class="app__item-img">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p class="footer__copy-text">
                        For questions about the TrueBike Buying Service please sell message to neologfly@gmail.com. <br>Изображение <a href="https://pixabay.com/ru/users/monoar_cgi_artist-2240009/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6720610">Monoar Rahman Rony</a> с сайта <a href="https://pixabay.com/ru//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6720610">Pixabay</a>
                    </p>
                </div>
                <nav class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item"><a href="#" class="copy__nav-link">Terms of Service</a></li>
                        <li class="copy__nav-item"><a href="#" class="copy__nav-link">Privacy Policy</a></li>
                        <li class="copy__nav-item"><a href="#" class="copy__nav-link">Do Not Sell My Personal
                                Information</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>


    <script src="{% static "js/jquery/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "js/jquery-ajax.js" %}"></script>
    <script src="{% static "js/bootstrap/bootstrap.bundle.min.js" %}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>
</html>