{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="contacts">
    <div class="container">
        <p class="contacts__text">Feel free to contact us with questions, potecial partnerships or media inquiries
        </p>

        {% if success %}
            <p class="success-message" style="color: green; font-weight: bold;">
                Your message has been successfully sent!
            </p>
        {% endif %}

        <form action="{% url "main:contact" %}" class="form" method="post">
            {% csrf_token %}

                <div class="form__group">
                    {{ form.name.errors }}
                    <input type="text" class="form__input" placeholder="Name" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" name="first_name" required>
                </div>

                <div class="form__group">
                    {{ form.email.errors }}
                    <input type="email" class="form__input" placeholder="E-mail" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" name="email" required>
                </div>

                <div class="textarea_container">
                    {{ form.message.errors }}
                    <textarea class="form__textarea" placeholder="Your text" name="message" required>{% if form.message.value %}{{ form.message.value }}{% endif %}</textarea>
                </div>


                <button class="form__btn" type="submit">SUBMIT</button>
        </form>
    </div>
</section>
{% endblock%}