{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% load catalog_tags %}
{% load product_tags %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}


{% block content %}

  <main class="main">
    <section class="choose">
      <div class="container">
        <h2 class="section-title mb-5">Choose category of your bike</h2>

          <div class="tabs">
            <div class="tabs__btn">
              <!-- Categories -->
            <div class="category__content">
            {% for category in categories %}
              <a href="{% url "catalog:category" category.slug %}" class="tabs__btn-item" data-button="content-{{ forloop.counter|add:1 }}">{{ category.name }}</a>
              <p>{{ category.description }}</p>
              {% endfor %}
            </div>
            </div>
          </div>
      </div>
    </section>
    <section class="blog">
      <div class="container">
        <div class="blog__items">
          <div class="blog__item">
            <img class="blog__item-img" src="{% static "images/blog-1.jpg" %}" alt="">
            <h4 class="blog__item-title">An easier way to buy your next Bike</h4>
            <a href="#" class="blog__item-link">more</a>
          </div>
          <div class="blog__item">
            <img class="blog__item-img" src="{% static "images/blog-2.jpg" %}" alt="">
            <h4 class="blog__item-title">A Guide to Road-Tripping With Pets</h4>
            <a href="#" class="blog__item-link">more</a>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
