{% extends 'base.html' %}
{% load static %}
{% load catalog_tags %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}


{% block content %}

<main class="main">
  <section class="choose">
    <div class="container">
      <h2 class="section-title">Choose your bike</h2>
      <div class="categories">
        <div class="categories_btn">
          {% for category in categories %}
          <a href="{% url "catalog:category" category.slug %}" class="tabs__btn-item" data-button="content={{ forloop.counter|add:1}}">{{ category.name }}</a>
          {% endfor %}
        </div>
      </div>


      {% with first_product=products|first %}
      {% if first_product %}
        <h5>Motorcycles of the <strong>{{ first_product.category }}</strong> category</h5>
      {% endif %}
      {% endwith %}

      
      {% comment %} If no products found in this category {% endcomment %}
      {% if message %}
      <div class="alert alert-warning">
        {{ message }}
      </div>
      {% endif %}
      <div class="title__categoties">

      </div>
      {% comment %} Search {% endcomment %}
        <form class="d-flex my-4" role="search" action="{% url "catalog:search" %}" method="get">
          <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
          <button class="btn btn-dark btn-outline-success text-white" type="submit">SEARCH</button>
        </form>

{% comment %} Filters {% endcomment %}
      <div class="dropdown mb-3">
        <button class="btn btn-outline-success text-white dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Filters
        </button>

        <form action="{% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:category" slug_url %}{% endif %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
          
            <p class="text-white mx-3 mt-3">Сортировать:</p>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>
                <label class="form-check-label" for="flexRadioDefault1">
                    По умолчанию
                </label>
            </div>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price"{% if request.GET.order_by == 'price' %}checked{% endif %}>
                <label class="form-check-label" for="flexRadioDefault2">
                    От дешевых к дорогим
                </label>
            </div>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price"
                {% if request.GET.order_by == '-price' %}checked{% endif %}>
                <label class="form-check-label" for="flexRadioDefault3">
                    От дорогих к дешевым
                </label>
            </div>
            <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
        </form>
    </div>

    {% if request.GET.q %}
    <h3 class="mt-4">Результаты поиска по запросу {{ request.GET.q }}</h3>
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
    {% if not products %}
      <h2 class="mt-4">По запросу ничего не найдено</h2>
    {% endif %}
    {% endif %}

{% comment %} End filters {% endcomment %}


      <div class="categories__content">
        {% for product in products %}
            <div class="categories__content-item">
                <div class="card-item">
                  <a href="{% url 'catalog:product' product.slug %}" class="item__link">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="item__img"></a>
                    <div class="item__content">
                        <h4 class="item__title">
                          {% autoescape off %}
                            {% if product.headline %}
                            {{ product.headline }}
                            {% else %}
                            {{ product.name }}
                            {% endif %}
                          {% endautoescape %}
                        </h4>
                        <p>Quatity in stock: {{ product.quantity }}</p>
                        <p class="item__text">
                          {% autoescape off %}
                            {% if product.bodyline %}
                            {{ product.bodyline|truncatechars:100 }}
                            {% else %}
                            {{ product.description|truncatechars:20 }}
                            {% endif %}
                          {% endautoescape %}
                        </p>
                        <p class="item__price">{{ product.price }}</p>
                        
                    </div>
                    <div class="item__more">
                      <a href="{% url 'catalog:product' product.slug %}" class="item__link">see details</a>
                      {% if product.quantity < 1 %}
                      <div class="item__warning alert alert-warning m-0">
                        Sorry, this item is temporarily out of stock and cannot be ordered.
                    </div>
                      {% else %}






                      <a href="{% url "cart:cart_add" %}" class="btn btn-dark btn-outline-success add-to-cart" data-product-id="{{ product.id }}">
                        {% csrf_token %}
                        <img class="mx-1" src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon" width="32" height="32">
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
          </div>
          <!-- Pagination -->
          {% if products and paginator.num_pages > 1 %}
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <div class="custom-shadow d-flex">
                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                  <a class="page-link" href="{% if page_obj.has_previous %}?{% change_params page=page_obj.previous_page_number %}
                  {% else %}
                  #
                  {% endif %}">Previous</a>
                </li>
              {% comment %} no-click вместо active {% endcomment %}
              {% for page in page_obj.paginator.page_range %}
              {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:3 %}
              <li class="page-item {% if page_obj.number == page %} active {% endif %}">
              <a  class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
              </li>
              {% endif %}
              {% endfor %}
                <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                  <a class="page-link" href="{% if page_obj.has_next %}?{% change_params page=page_obj.next_page_number %}
                  {% else %}
                  #
                  {% endif %}">Next</a>
                </li>

              </div>
            </ul>
          </nav> 
          {% endif %}


    </div>
  </section>
</main>

    <section class="blog">
      <div class="container">
        <div class="blog__items">
          <div class="blog__item">
            <img class="blog__item-img" src="{% static 'images/blog-1.jpg' %}" alt="">
            <h4 class="blog__item-title">An easier way to buy your next Bike</h4>
            <a href="#" class="blog__item-link">more</a>
          </div>
          <div class="blog__item">
            <img class="blog__item-img" src="{% static 'images/blog-2.jpg/' %}" alt="">
            <h4 class="blog__item-title">A Guide to Road-Tripping With Pets</h4>
            <a href="#" class="blog__item-link">more</a>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
