{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}

<div class="card">
    <img src="{{ product.image.url }}"
        class="card__img">
    <div class="card__content">
        <h4 class="card__title">{{ product.name }}</h4>
        <p class="card__text">{{ product.description }}</p>
        <p class="card__price">{{ product.price }}</p>
        {% if product.quantity < 1 %}
        <div class="alert alert-warning">
        Sorry, this item is temporarily out of stock and cannot be ordered.
        </div>
        {% else %}
        <a href="{% url "cart:cart_add" %}" class="btn btn-dark add-to-cart"
        data-product-id="{{ product.id }}">
            {% csrf_token %}
            <img class="mx-1" src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon" width="32" height="32">
        </a>
        {% endif %}
    </div>
</div>
{% endblock content %}
